@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    /* NAVBAR  */
.container {
     width: 1520px;
     height: 1000px;
     margin: auto;
     background-color: #E5E5E5;;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/luxuryIMG/hotel-1979406_1920.jpg);
}
.nav {
    width: 1723px;
    height: 150px;
}
.logo {
  width: 256px;
  height: 150px;
  background-color: #E0B973;
  text-align: center;
  display: inline-block;
  margin-left: 213px;
  border-bottom-right-radius: 23%;
  border-bottom-left-radius: 23%;
 }
.logo_tex {
   width: 186px;
   height: 48px;
   padding: 44px 29px 51px 40px;
   text-align: center;
   font-size: 44px;
   letter-spacing: 1px;
   max-width: 187px;
   color:#14274A;

}
.logo_tex_small {
  padding: 10px;
  letter-spacing: 4px;
  font-family:  'Adobe Garamond Pro';
  text-transform: uppercase;
  color:#14274A;
}
.navigation {
  float: right;
  margin-right: 184px;
}
.navbar {
  list-style: none;
  align-items: center;
}
.navbar li{
display: inline-block;
padding: 30px 40px;
text-indent: 5px;
}
.navbar li a {
  align-items: center;
  text-decoration: none;
  color: white;
  position: relative;
  font-family:  sans-serif;
  font-size: 20px;
  padding: 15px;
}
.navbar li a:hover {
 color: yellow;
}
.active:active {
  border-bottom: 1px solid yellow;
  margin-top: 4px;
}
     /* NAVBAR  */

.main_section_up {
    width: 670px;
    height: 328px;
    padding-top: 220px;
    margin-left: 213px;
    color: #ffffff;

}
.welcome {
  width: 400px;
   height: 28px;
  font-size: 50px;
  font-family: sans-serif;
}
.section_text_big {
   font-weight: 700;
   height: 185px;
   font-size: 154px;
   letter-spacing: 10px;
}
.section_text_mini{
    height: 70px;
    margin: -44px -10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 22px;
}
.section_text{
  font-family: sans-serif;
  margin: 44px -10px;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 2px;
}
.book_now {
     width: 268px;
     height: 78px;
     margin: 270px 670px;
     margin-bottom: 170px;
     color: #ffffff;
     background-color: #E0B973;
     border-radius: 21px;
     font-family: sans-serif;
     cursor: pointer;
}
.book_now a{
text-decoration: none;
color: #ffffff;
}
.book_now i {
     width: 28px;
    height: 25px;
    margin: 30px;
    padding-left: 26px;
    position: absolute;
}
.book {
    width: 200px;
    height: 29px;
    margin: 90px;
    padding-top: 30px;
    cursor: pointer;
}
.scroll{
    width: 79px;
    height: 106px;
    margin: 90px;
    cursor: pointer;
}
.scroll_text {
     font-weight: 700;
     font-size: 25px;
     height: 30px;
     margin: 10px;
     cursor: pointer;
}
.scroll i {
    font-size: 40px;
    margin: 20px;
    margin:  auto;
    cursor: pointer;
}

  /* Cite bar  */
.sitebar_container{
     height: 216px;
     width: 1200px;
     margin: 200px auto;
}
.center_text {
      font-size: 60px;
     font-weight: 700;
     color: #14274A;
     margin: -410px 636px;
}
.text{
    width: 1400px;
    height: 60px;
    color: #14274A;
    margin: 434px 230px;
    font-size: 19px;
    font-weight: 600;
    font-family: sans-serif;
    word-spacing: 2px;
}
.img_1{
    width: 1382px;
    height: 910px;
    margin: -330px 130px;
    background-image: url(/luxuryIMG/fasilation/gym-331569_1280.jpg);
    background-repeat: no-repeat;
    position: relative;
}
.img_text1{
  width: 340px;
  height: 70px;
  margin: 860px 480px;
  padding: 10px 90px;
  background-color: white;
  position: absolute;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #14274A;
}
.img_2{
   width: 1382px;
   height: 910px;
   margin: 430px 130px;
   background-image: url(/luxuryIMG/fasilation/pool-bar-3652849_1280.jpg);
   background-repeat: no-repeat;
   position: relative;
  }
.img_text2{
   width: 340px;
   height: 70px;
   margin: 800px 460px;
   padding: 10px 70px;
   background-color: #ffffff;
   position: absolute;
   font-family: sans-serif;
   font-size: 23px;
   font-weight: 700;
   color: #14274A;
 }
 .img_3{
    width: 1382px;
    height: 810px;
    margin: -390px 130px;
    background-image: url(/luxuryIMG/fasilation/massage-4916847_1280.jpg);
    background-repeat: no-repeat;
    position: relative;
   }
   .img_text3{
      width: 340px;
      height: 70px;
      margin: 770px 460px;
      padding: 10px 110px;
      background-color: #ffffff;
      position: absolute;
      font-family: sans-serif;
      font-size: 23px;
      font-weight: 700;
      color: #14274A;
    }
    .img_4{
       width: 1382px;
       height: 810px;
       margin: 500px 130px;
       background-image: url(/luxuryIMG/fasilation/manor-house-2359884_1280.jpg);
       background-repeat: no-repeat;
       position: relative;
      }
      .img_text4{
        width: 340px;
        height: 70px;
        margin: 670px 460px;
        padding: 10px 70px;
        background-color: #ffffff;
        position: absolute;
        font-family: sans-serif;
        font-size: 23px;
        font-weight: 700;
        color: #14274A;
      }
      .img_5{
         width: 1382px;
         height: 910px;
         margin: -510px 130px;
         background-image: url(/luxuryIMG/fasilation/villa-cortine-palace-949552_1280.jpg);
         background-repeat: no-repeat;
         position: relative;
        }
        .img_text5{
          width: 340px;
          height: 70px;
          margin: 860px 460px;
          padding: 10px 90px;
          background-color: #ffffff;
          position: absolute;
          font-family: sans-serif;
          font-size: 26px;
          font-weight: 700;
          color: #14274A;
        }
        .img_6{
          width: 1382px;
          height: 910px;
          margin: 590px 130px;
          background-image: url(/luxuryIMG/fasilation/laundry-saloon-567951_1280.jpg);
          background-repeat: no-repeat;
          position: relative;
         }
         .img_text6{
           width: 340px;
           height: 70px;
           margin: 800px 460px;
           padding: 10px 100px;
           background-color: #ffffff;
           position: absolute;
           font-family: sans-serif;
           font-size: 26px;
           font-weight: 700;
           color: #14274A;
         }

     /* FOOTER UP TEXT  */
         .next{
          width: 800px;
          height: 257px;
          margin: -605px 340px;
          position: absolute;
        }
        .footer_up{
          width: 309px;
          height: 72px;
          margin: 50px auto;
          font-weight: 700;
          color: #14274A;
          font-size: 60px;
        }
        .footer_up_text{
          width: 800px;
          height: 37px;
          font-weight: 400;
          font-size: 30px;
          color: #14274A;
          font-family: sans-serif;
          text-align: center;
          margin: 20px;
        }
        .footer_up_small_text{
          font-weight: 400;
          font-size: 20px;
          color: #14274A;
          text-align: center;
          margin: 20px;
        }
        .icon_1{
          width: 28px;
         height: 25px;
         font-size: 50px;
         margin: 15px 330px;
         position: absolute;
         color: #E0B973;
         cursor: pointer;
        }
        .icon_2{
          width: 28px;
         height: 25px;
         font-size: 50px;
         margin: 15px 420px;
         color: #E0B973;
         cursor: pointer;
        }
   /* FOOTER */
.foot{
   width: 1520px;
   height: 320px;
   color: #ffffff;
   background-color: #14274A;
   margin: -210px auto;
   padding: 50px;
   position: absolute;
}

.foot_nav_conatainer{
    width: 1300px;
    height: 230px;
    margin: 20px auto;
  }
.luxury_foot{
    width: 364px;
    height: 111px;
    margin: 10px 30px;
    letter-spacing: 3px;
}
.luxury_foot h5{
  font-size: 9px;
  font-weight: 600;
  margin: 12px;
  letter-spacing: 3px;
}
.luxury_foot p {
  width: 410px;
  height: 60px;
}
.number{
text-decoration: none;
color: cornflowerblue;
font-size: 18px;
font-weight: 700;
}
.foter_us{
    width: 220px;
    height: 111px;
    font-weight: 400;
    font-size: 14px;
    margin:  -131px 470px;
    line-height: 43px;
    font-family: sans-serif;
    cursor: pointer;
    }
  .fot_social{
    width: 145px;
    height: 111px;
    margin: 10px 720px;
    padding-bottom: 30px;
  }
  .fot_social_icon i{
    font-size: 19px;
    font-weight: 400;
    display: flex;
    margin: 25px 0;
    cursor: pointer;
  }
  .fot_social_icon a{
    text-decoration: none;
  }
  .fot_social_text{
    margin: -131px 30px;
  }
  .fot_social_text h4{
    width: 100px;
    height:  49px;
    line-height: 1px;
    font-family: sans-serif;
    cursor: pointer;
  }
  .fot_social_text a{
text-decoration: none;
color: #ffffff;
 }
  .fot_email{
    width: 270px;
    height: 200px;
    margin: -140px 980px;
    position: relative;
  }
.fot_email_text{
margin: 20px -37px;
padding: 20px;
}
.email_container{
    width: 320px;
    height: 60px;
    margin: -20px;
    border-radius: 5px;
    border: 3px solid #E0B973;
}
.emaill{
  width: 255px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  padding: 26px;
  background-color: #14274A;
  color: #ffffff;
}
.label_ok{
  width: 61px;
  height: 56px;
  padding: 18px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #E0B973;
  color: #14274A;
  position: absolute;
  cursor: pointer;
}
